.footer {
    padding: size(4) 0;

    &__copyrightRow {
        margin-top: size(2);
    }

    &__logoWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;    

        @include media-query('md') {
            align-items: flex-start;    
        }
    }

    &__slogan {
        @include font(md);

        color: #fff;
        margin-top: size(2);
    }

    &__phone {
        margin-bottom: size(3);
    }

    &__dev {
        &:hover {
            text-decoration: none;
        }
    }
}