.imgCard {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__image {
        height: 240px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        transition: 150ms 0ms linear;

        &:hover {
            opacity: 0.7
        }

        &_noHovered:hover {
            opacity: 1;
        }

        &_big {
            height: 380px;
        }
    }

    &__title {
        margin-top: size(2)
    }

    &__caption {
        margin-top: size(1)
    }
}
