.breadcrumbs {
    margin-top: size(10);
    border-bottom: 1px dashed rgba($dark, 0.4);

    @include media-query('md') {
        margin-bottom: -#{size(10)};
    }
    
    &__container {
        display: flex;
    }

    &__item {
        display: flex;
        align-items: center;

        &:last-child {
            font-weight: 700;
        }
    }

    &__item + &__item {
        padding-left: size(2);

        &::before {
            content: "";
            background: url(../icon/arrow_breadcrumbs.svg);
            width: 10px;
            height: 16px;
            margin-right: size(2);
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
        }
    }
}
